* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

header {
    width: 50%;
    height: 100px;
}

.mainheader {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.mainheader nav {
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainheader nav a {
    text-decoration: none;
    color: #252525;
    text-transform: uppercase;
    align-items: left;
}



.mainheader button {
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #0F5ABD, #ADCFFF);

}


main {
    background-image: linear-gradient(to right, #66A6FF, #ADCFFF);

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .right-sec {
    padding-right: 50px;

}

main .left-sec {
    padding-left: 100px;

}

.left-sec h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #252525;
    margin-top: 7px;
    text-align: center;
}

.left-sec p {
    text-align: center;
    margin-bottom: 70px;
    height: 80px;
    font-size: larger;
    font-weight: bolder
}

.left-sec h3 {
    text-align: center;

}



.ring {
    height: 500px;
    width: 700px;
    border-radius: 100px;
}

.logo {
    margin-top: 40px;
    border-radius: 50%;
    height: 200px;
    width: 200px;

}

.footer {
    text-align: center;
    align-items: center;
}

.btn {
    padding: 15px 50px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #0F5ABD, #ADCFFF);
    border: 10px;
    cursor: pointer;
}

.btnDetail {
    padding: 15px 50px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #0F5ABD, #ADCFFF);
    border: 10px;
    cursor: pointer;
    margin-top: 40px;
}

input {
    display: flex;
    margin: 2px;
    border: none;
    width: 600px;
    height: 50px;
    text-align: center;
    color: #252525;
}

.left-sec img {
    height: 20px;
    width: 20px;
    justify-content: center;
    margin: 6px;

}

.left-sec a {
    color: #252525;
}